{% extends "base.html" %}
{% block title %} Approve Debit/Credit requests{% endblock %}

{% block content %}
<h1>Elements</h1>
<!-- Table -->
<section>
    <div class="12u$">


        <div class="table-wrapper 12u$">

            <table class="alt">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in user%}
                <tr>
                    <td>{{i.username}}</td>
                    <td>{{i.account_number}}</td>
                    <td>{{i.balance}}</td>
                    <td><a href="#" class="button small">Approve</a> <a href="#" class="button small">Ignore</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}