
{% extends "base.html" %}
{% block title %}Confirm your Password {% endblock %}

{% block content %}<h1>Re-enter Password</h1>


							<!-- Form -->
								<section>
								
								{% if Authentication_error %}
									<p><strong> Wrong Password </strong></p>
								{% endif %}
					
									<form method="post" action="#" name="form">
										{% csrf_token %}
										<div class="row uniform">
                                            <div class="3u 12u$(xsmall)">
                                                Password
                                            </div>
											<div class="9u 12u$(xsmall)">
												<input type="password" name="password" id="password" value="{{password}}" placeholder="" />
											</div>
											
                                        </div>
                                        
                                        <div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="submit" class="special" /></li>
												</ul>
											</div>
									</form>
								</section>
{% endblock %}