{% extends "base.html" %}
{% block title %} Payments {% endblock %}
{% block content %}
    <div id="main">
        <div class="inner  ">
            <h1>Payments Due</h1>
            <section>
                <div class="12u$">
                    <div class="table-wrapper 12u$">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Merchant</th>
                                <th>Account</th>
                                <th>Amount</th>
                                <th>    </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in payments %}
                                {% if i.transaction.status == "C" %}
                                <tr>
                                    <td>{{i.merchant}}</td>
                                    <td>{{i.user_account.number}}</td>
                                    <td>{{i.transaction.amount}}</td>
                                    <td> <a href="{% url 'user_payments_approve' i.id %}" class="button small">Approve</a>
                                        <a href="{% url 'user_payments_reject' i.id %}" class="button small">Ignore</a> </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
				


