{% extends "base.html" %}
{% block title %} Create Payment{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <h1>Create Payment</h1>
                <section>
                    <form method="post" action="{% url 'create_payment' %}" name="form">
                        {% csrf_token %}
                        <div class="row uniform">
                            <input type="text" name="payee_account" id="payee_account" value="" placeholder="account number" />
                        </div>
                        <br>
                        <div class="12u$ 12u$(xsmall)">
                            <input type="number" name="amount" id="amount" value="" placeholder="amount" />
                        </div>

                        <ul class="actions">
                            <li><button type="submit" class="button special">Submit</button></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
