{% extends "base.html" %}
{% block title %}Dashboard {% endblock %}

{% block content %}
<div class="12u$">

    <div class="table-wrapper 12u$">

        <table class="alt">

            <tbody>
            <tr>
                <td><a href="{% url 'user_accounts_list'%}">User Accounts List</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'approve_debit_credit'%}">Debit/Credit Requests</a></td>

            </tr>
            {% if is_system_manager %}
                <tr>
                <td><a href="{% url 'employees_access_user_accounts' %}"></a></td>

            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
