{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
    <div style="color: red">{{ redirect_error }}</div>
    <div style="color: green">{{ redirect_success }}</div>
    <div style="color: yellow">{{ redirect_info }}</div>
<div class="12u$">

    <div class="table-wrapper 12u$">

        <table class="alt">

            <tbody>
            <tr>
                <td><a href="{% url 'BankingSystem:make_transaction' %}">Make Transaction</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'BankingSystem:approve_debit_credit' %}">Debit Account</a></td>

            </tr>
            <tr>
                <td><a href="{% url 'BankingSystem:passbook' %}">Passbook</a></td>

            </tr>
            <tr>
                <td><a href="{% url 'BankingSystem:request_transaction_review' %}">Request Transaction Review</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}









