{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
    <div style="color: red">{{ redirect_error }}</div>
    <div style="color: green">{{ redirect_success }}</div>
    <div style="color: yellow">{{ redirect_info }}</div>
<div class="12u$">

    <div class="table-wrapper 12u$">

        <table class="alt">

            <tbody>
            <tr>
                <td><a href="make_transactions.html">Make Transaction</a></td>
            </tr>
            <tr>
                <td><a href="approve_debit_credit_request.html">Debit Account</a></td>

            </tr>
            <tr>
                <td><a href="passbook.html">Passbook</a></td>

            </tr>
            <tr>
                <td><a href="request_transaction_review.html">Request Transaction Review</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}









