{% extends "base.html" %}
{% block title %}Make Transaction {% endblock %}

{% block content %}
<h1>Make Transactions</h1>
	<section>

    <!-- TODO team: beautify this, put somewhere else or whatever. -->

    <div style="color: red"> {{ error }}</div>

	{% if is_error %}
		<p><strong> {{error}} </strong></p>
	{% endif %}

		<form method="post" action="#" name="form" url="{% url 'make_transaction'%}">
			{% csrf_token %}
			<div class="row uniform">
				<div class="12u$">
					<div class="select-wrapper">
						<select name="demo-category" id="demo-category">
							<option value="">- Choose account -</option>
							{% for account in accounts %}
								<option value="{{ account.number }}">{{ account.number }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<!--<div class="12u 12u$(xsmall)">-->
					<!--<input type="text" name="sender_account_number" id="sender_account_number" value="" placeholder="sender account number" />-->
				<!--</div>-->

				<div class="12u$ 12u$(xsmall)">
						<input type="text" name="receiver_account_number" id="receiver_account_number" value="" placeholder="receiver account number" />
					</div>
					<div class="12u$ 12u$(xsmall)">
							<input type="number" name="amount" id="amount" value="" placeholder="amount" />
						</div>


			</div>
			<ul class="actions">
					<li><button class="button special" type="submit">Submit</button></li>
				</ul>
		</form>
	</section>
{% endblock %}
