{% extends "base.html" %}
{% block title %}Make Transaction {% endblock %}

{% block content %}
<h1>Make Transactions</h1>
	<section>

	{% if is_error %}
		<p><strong> {{error}} </strong></p>
	{% endif %}

		<form method="post" action="#" name="form" url="{% url 'make_transaction'%}">
			{% csrf_token %}
			<div class="row uniform">
				<div class="12u 12u$(xsmall)">
					<input type="text" name="sender_account_number" id="sender_account_number" value="" placeholder="sender account number" />
				</div>
				<div class="12u$ 12u$(xsmall)">
					<input type="text" name="reciever_username" id="reciever_username" value="" placeholder="reciever username" />
				</div>
				<div class="12u$ 12u$(xsmall)">
						<input type="text" name="reciever_account_number" id="reciever_account_number" value="" placeholder="reciever account number" />
					</div>
					<div class="12u$ 12u$(xsmall)">
							<input type="number" name="amount" id="amount" value="" placeholder="amount" />
						</div>


			</div>
			<ul class="actions">
					<li><a href="#" class="button special">Submit</a></li>
				</ul>
		</form>
	</section>
{% endblock %}
