{% extends "base.html" %}
{% block title %}Passbook {% endblock %}

{% block content %}
	<div id="wrapper">

                <!-- Header -->
                    <header id="header">
                        <div class="inner">


                            <!-- Nav -->
                                <nav>
                                    <ul>
                                        <li><a href="#menu">Menu</a></li>
                                    </ul>
                                </nav>

                        </div>
                    </header>
					
                    <nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="#">{{username}}</a></li>
							<li><a href="#">Logout</a></li>
							
						</ul>
					</nav>
                 
	             <div class="12u$ 12u$(xsmall)">
                 <h1 align="center">Current Balance</h1>
	             <h3 align="center">{{amount}}</h3>
	             </div>
	</div>
{% endblock %}