{% extends "base.html" %}
{% block title %}Request Transaction Review {% endblock %}

{% block content %}
<h1>Request Transaction Review</h1>


<!-- Form -->
<section>
    {% if is_error %}
    <p><strong>Wrong_transaction_id_error</strong></p>
    {% endif %}

    <form method="post" name="form" action="{% url 'request_transaction_review'%}">
        {% csrf_token %}
        <div class="row uniform">
            <div class="12u 12u$(xsmall)">
                <input type="text" name="transaction_id
" id="transaction_id
" value="" placeholder="Transaction id
"/>
            </div>
            <div class="12u$ 12u$(xsmall)">
                <input type="text" name="preferred_employee_id
" id="preferred_employee_id
" value="" placeholder="Preferred employee id
"/>
            </div>
            <div class="12u$ 12u$(xsmall)">
                <textarea name="comment" form="form2">Comment</textarea>
            </div>

            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Submit" class="special" /></li>
                </ul>
            </div>

        </div>
    </form>
</section>
{% endblock %}
