{% extends "base.html" %}
{% block title %}Technical accounts access for users {% endblock %}

{% block content %}<h1>technical_accounts_access_for_users</h1>


							<!-- Form -->
								<section>
								
								{% if error %}
									<p><strong> Wrong Employee ID </strong></p>
								{% endif %}
					
									<form method="post" action="{% url 'technical_accounts_access_for_users' %}" name="form">
										{% csrf_token %}
										<div class="row uniform">
                      <div class="3u 12u$(xsmall)">
                          Employee Username
                      </div>
											<div class="9u 12u$(xsmall)">
												<input type="text" name="employee_username" id="employee_username" value="" placeholder="Employee Username" />
											</div>	
                    </div>
                                        
                    <div class="12u$">
                      <ul class="actions">
                        <li><input type="submit" value="submit" class="special" /></li>
                      </ul>
                    </div>
									</form>
								</section>
{% endblock %}
