{% extends "base.html" %}
{% block title %}Confirm Transaction {% endblock %}
{% block content %}
    <h1>Confirmation of transaction number {{ transaction_id }}</h1>
    <section>
        <form method="post" name="form">
            {% csrf_token %}
            <div class="row uniform">
                <div class="3u 12u$(xsmall)">
                    OTP
                </div>
                <div class="9u 12u$(xsmall)">
                    <input type="password" name="otp" id="password" value='' placeholder="" />
                </div>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Submit OTP" class="special" /></li>
                </ul>
            </div>
        </form>
    </section>
{% endblock %}
