{% extends "base.html" %}
{% block title %}Confirm Transaction {% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/jquery.numpad.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery.numpad.js' %}" ></script>
    <h1>Confirmation of transaction number: {{ transaction_id }}</h1>
    <section>
        <script type="text/javascript">
			// Set NumPad defaults for jQuery mobile.
			// These defaults will be applied to all NumPads within this document!
			$.fn.numpad.defaults.gridTpl = '<table class="table modal-content"></table>';
			$.fn.numpad.defaults.backgroundTpl = '<div class="modal-backdrop in"></div>';
			$.fn.numpad.defaults.displayTpl = '<input type="text" class="form-control" />';
			$.fn.numpad.defaults.buttonNumberTpl = '<button type="button" class="btn btn-default"></button>';
			$.fn.numpad.defaults.buttonFunctionTpl = '<button type="button" class="btn" style="width: 100%;"></button>';
			$.fn.numpad.defaults.onKeypadCreate = function(){$(this).find('.done').addClass('btn-primary');};

			// Instantiate NumPad once the page is ready to be shown
			$(document).ready(function(){
				$('#text-basic').numpad();
				$('#password').numpad({
					displayTpl: '<input class="form-control" type="password" />',
					hidePlusMinusButton: true,
					hideDecimalButton: true
				});
				$('#numpadButton-btn').numpad({
					target: $('#numpadButton')
				});
				$('#numpad4div').numpad();
				$('#numpad4column .qtyInput').numpad();

				$('#numpad4column tr').on('click', function(e){
					$(this).find('.qtyInput').numpad('open');
				});
			});
		</script>
        <form method="post" name="form">
            {% csrf_token %}
            <div class="row uniform">
                <div class="3u 12u$(xsmall)">
                    OTP
                </div>
                <div class="9u 12u$(xsmall)">
                    <input type="password" name="otp" id="password" value='' placeholder="" />
                </div>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Submit OTP" class="special" /></li>
                </ul>
            </div>
        </form>

    </section>
{% endblock %}
