{% extends "base.html" %}
{% block title %}User Accounts List{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <section>
                    <br>
                    <h1>User Accounts List</h1>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in users %}
                                <tr>
                                    <td>{{i.user.username}}</td>
                                    <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                                    <td>{{i.phone}}</td>
                                    <td>
                                        <div class="12u$">
                                            <ul class="actions">
                                                <li><a href="{% url 'user_detail_page' i.user.username %}" class="button special">View User</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
